body {
    background: linear-gradient(to right, #000000 , #000000 ,#0044ff);
    margin: 0;
}

main {
    margin-left: 10%;
    margin-right: 10%;
}

header {
    width: auto;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background: #090909;
    border-left: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
    border-right: 2px solid #ffffff;
    padding: 8px;
    place-items: center;
}

/* Style of the buttons */

button {
    background: none;
    border: none;
    color: #ffffff;
    cursor: pointer;
    font-size: 27px;
    font-family: monospace;
}


/* Border of the buttons */

.border {
    border-bottom: 2px solid #090909;
    transition: border-bottom 700ms;
}

.border:hover {
    border-bottom: 2px solid #ffffff;
}


/* Dropdown content */

#dropdown {
    position: relative;
    display: inline-block;
}

#games {
    position: absolute;
    display: none; /* block */
    z-index: 1;
    background: #ffffff;
}

.gamesButton {
    border: none;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
}


/* Title style */

h1 {
    color: white;
    text-align: center;
    font-family: "Audiowide", sans-serif;
    font-style: italic;
    font-size: 5em;
}


/* Content style */

#content {
    border: solid 2px white;
    width: auto;
    background-color: #090909;
}
