/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');


body {
    background-color: rgb(37, 37, 40);
    margin: 0;
    animation-name: appear;
    animation-duration: 3s;
}

/* Animation when the web is opened */
@keyframes appear{
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/*Header*/
main {
    margin: 0 10%;
}

#header {
	/*Border of the header*/
    padding: 3px;
    padding-top: 0;
    background: linear-gradient(135deg, rgb(255, 0, 131) , rgb(0, 124, 255))
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background: rgb(37, 37, 40);
    padding: 8px;
    place-items: center;
}


/* Style of the buttons */
button {
    background: none;
    border: none;
    color: rgb(242, 242, 242);
    cursor: pointer;
    font-size: 27px;
    font-family: monospace;
}

/* Border-bottom of the buttons */
.border {
    height: 1px;
    background-color: rgb(242, 242, 242);
    opacity: 0;
    transition: opacity 500ms;
}

button:hover .border {
	/*To make border-bottom appears when over*/
    opacity: 1;
}

/* Dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

.gamesDropdown {
    position: absolute;
    display: none;
    z-index: 1;
    background: linear-gradient(to right, #3761e4, #037bfe);
    border-bottom-left-radius: 0.3em;
    border-bottom-right-radius: 0.3em;
    width: 100%; /* To make the dropdown width as wide as the dropdown button*/
}

.show {
    display: block; /* To drop the games menu using classList Toogle with JS*/
}

/* Style of games buttons */
.gamesButton {
    border: none;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 21px;
    padding: 6px;
    transition: color 500ms;
}


/* Cold War button */
#CWbutton::before {
    content: url(imagenes,clips/CW.png);
}

#CWbutton:hover {
    color: #d40000;
}

#CWbutton:active {
    transition: color 1ms;
    color: #ffffff;
    text-shadow: -1px 0 #d40000, 0 1px #d40000, 1px 0 #d40000, 0 -1px #d40000;
}


/* Modern Warfare button */
#MWbutton::before {
    content: url(imagenes,clips/MW.png);
}

#MWbutton:hover {
    color: #0051ff;
}

#MWbutton:active {
    transition: color 1ms;
    color: #ffffff;
    text-shadow: -1px 0 #0051ff, 0 1px #0051ff, 1px 0 #0051ff, 0 -1px #0051ff;
}


/* BO4 button */
#BO4button::before {
    content: url(imagenes,clips/BO4.png);
}

#BO4button:hover {
    color: #ff5e00;
}

#BO4button:active {
    transition: color 1ms;
    color: #ffffff;
    text-shadow: -1px 0 #ff5e00, 0 1px #ff5e00, 1px 0 #ff5e00, 0 -1px #ff5e00;
}


/* Title style */
h1 {
    color: white;
    text-align: center;
    font-family: "Audiowide", sans-serif;
    font-style: italic;
    font-size: 5em;
    animation-name: titleSlide;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

/* Title animation */
@keyframes titleSlide {
    from {
        transform: translateY(-204px);
    }
    to {
        transform: translateY(0);
    }
}


/* Content style */
#content {
    padding: 2px;
    place-items: center;
    /* Underline effect */
    animation-name: boost;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

@keyframes boost {
    0% {
        background: linear-gradient(to right, rgb(255, 0, 131) , rgb(0, 124, 255));
        transform: scaleX(0%);
    }

    100% {
        background: linear-gradient(to right, rgb(255, 0, 131) , rgb(0, 124, 255));
        transform: scaleX(100%);
    }
}

.content {
    height: auto;
    width: auto;
    padding: 2px;
    background-color: rgb(37, 37, 40);
    display: none;
    grid-template-columns: 0.5fr 1fr 0.5fr;
    color: rgb(255, 255, 255);
    place-items: center;
}

/* About me content style */
p {
    text-align: center;
    font-family: 'Merriweather', serif;
}

.images {
    display: grid;
}


/* Clip */
#video {
    grid-template-columns: 1fr 1fr 1fr;
}



/* Icons style */

/* Icons div */
#icons {
    margin-top: 2em;
    display: inline-grid;
    grid-template-columns: 3em 3em 3em 3em;
    place-items: center;
}

i {
    font-size: 2em;
    cursor: pointer;
    opacity: 0.3;
}

/* Gitlab and Reddit icon */
.fa-reddit {
    background-color: #ffffff;
    border-radius: 50%; /* To adjust the background */
    color: #ff4500;
}


/* YT icon */
.fa-youtube {
    color: #FF0000;
    background-image: url(imagenes,clips/white.jpg); /* To make the background white */
    background-size: 1em;
    background-repeat: no-repeat;
    background-position: center;
}

/* Github icon */
.fa-github {
    color: #ffffff;
}

/* Theme button style */
#changeThemeButton {
    font-size: 1em;
    color: #ffffff;
}


/* Tooltips */

/* Gitlab, Tw, YT, Git tooltip */
span {
    visibility: hidden;
    opacity: 0;
    -webkit-transform: translate(-80%, 130%); /* Center tooltips in Chromium based browsers*/
    -moz-transform: translate(-25%, 10%); /* Center tooltips in Firefox based browsers*/
    transform: translate(-25%, 10%);  /* Center tooltips*/
    transition: opacity 800ms;
    position: absolute;
    background: linear-gradient(to right, rgb(255, 0, 131) , rgb(0, 124, 255));    
    border-radius: 5%;
    color: #ffffff;
    padding: 4px 4px;
}

/* Style at hover */

.fa-reddit:hover, .fa-youtube:hover, .fa-github:hover, .fa-adjust:hover , .tooltip:hover span {
    visibility: visible;
    opacity: 1;
}